**/*.pyc
**/.gitignore
.coverage
.docker_env
.drone.yml
.env
.env.example
.git
.gitignore
.helm
.pylintrc
Dockerfile
Makefile
README.md
artifacts
coverage.xml
docker-compose.yml
env
htmlcov
output.log
slack.txt
